apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: monitoring-grafana
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http-metrics   # Grafana metrics port
      path: /metrics
      interval: 30s
      scheme: http
