name: Destroy GKE Cluster Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to destroy'
        required: true
        type: choice
        options:
          - dev

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      CLUSTER_NAME: ${{ secrets.GKE_CLUSTER_NAME }}
      ZONE: ${{ secrets.GCP_ZONE }}
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_cluster_name: ${{ secrets.GKE_CLUSTER_NAME }}
      TF_VAR_region: ${{ secrets.GCP_REGION }}
      TF_VAR_zone: ${{ secrets.GCP_ZONE }}
      TF_VAR_node_count: 1
      TF_VAR_machine_type: "e2-small"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install gke-gcloud-auth-plugin
        run: |
          gcloud components install gke-gcloud-auth-plugin --quiet

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform/live/${{ github.event.inputs.environment }}
        run: terraform init

      - name: Delete Namespace
        run: |
          gcloud container clusters get-credentials "$CLUSTER_NAME" --region "$ZONE" --project "$PROJECT_ID"
          kubectl delete namespace ${{ github.event.inputs.environment }} --ignore-not-found

      - name: Terraform Destroy (Delete GKE Cluster)
        working-directory: terraform/live/${{ github.event.inputs.environment }}
        run: terraform destroy -auto-approve
